<!DOCTYPE html>
<html lang="en">
  {% include google_analytics.html %}
  <head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>{{ page.tab }}</title>
    <meta name="Alex's personal website" content="">
    <meta name="Alex J Cornish" content="">
    
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-score=1.0">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/skeleton.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/images/favicon.png">
  </head>
  <body>
    <nav>
      <div id="title">
        <h5><a href="/" title="home">Alex Cornish</a></h5>
      </div>
      <ul>
        <li><h5><a href="/publications">Publications</a></li></h5>
        <li><h5><a href="/software">Software</a></li></h5>
        <li><h5><a href="/contact">Contact</a></li></h5>
      </ul>
    </nav>
    <main>
      <div class="container">
        {{ content }}
        </main>
      <footer>
        <p id="copyright">&copy CORNISH 2015</p>
        <p id="about_site"><a href="/about_site">About Site</a></p>
      </footer>
      </body>
    </html>